.legend ul li {
    display: inline-block;
    font-size: 150%;
    list-style: none;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 15px;
    margin-bottom: 2px;
}
.legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 10px;
    margin-left: 0;
    border: 1px solid #999;
}

.disabled {
    pointer-events: none;
}

label {
    display: block;
}

p {
    text-align: center;
}
